{% extends 'team/base.html' %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col-lg-2">#</th>
      <th scope="col-lg-2">Fullname</th>
      <th scope="col-lg-2">Path</th>
      <th scope="col-lg-2">
        <a href="{% url 'student' %}" class="btn btn-outline-success"
          >Add New</a
        >
      </th>
    </tr>
  </thead>
  <tbody>
    {% for i in students %}
    <tr>
      <th scope="row">{{i.number}}</th>
      <td>{{ i.first_name }}</td>
      <td>{{ i.get_path_display }}</td>
      <td class="d-flex">
        <a href="{% url 'update' i.id %}"
          ><i class="fa-solid fa-file-pen"></i></a
        ><a href="{% url 'delete' i.id %}"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %} {% comment %}
<td>
  <a href="{% url 'update' i.id %}" class="btn textsecondary px-0">
    <i class="far fa-edit fa-lg"></i>
  </a>
  <form action="{% url 'delete' i.id %}" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn">
      <i class="far fa-trash-alt fa-lg text-danger floatright"></i>
    </button>
  </form>
</td>
{% endcomment %}
