{% extends 'team/home.html' %} {% block content %} {% load crispy_forms_tags %}
<h2>Student Add</h2>

<form action="" method="post" autocomplete="off">
  {% csrf_token %} {{form.first_name|as_crispy_field}}
  {{form.email|as_crispy_field}} {{form.phone|as_crispy_field}}
  {{form.gender|as_crispy_field}}
  <div class="row">
    <div class="col-md-4">{{form.number|as_crispy_field}}</div>
    <div class="col-md-8">{{form.path|as_crispy_field}}</div>
  </div>
  <div class="mt-1 d-flex justify-content-between py-2">
    <div class=" ">
      <button type="submit" class="btn btn-success btn-block btn-lg">
        <i class="fas fa-database"></i> Submit
      </button>
    </div>
    <div class=" ">
      <a href="{% url 'home' %}" class="btn btn-secondary btn-block btn-lg">
        <i class="fas fa-stream"></i> Back to list
      </a>
    </div>
  </div>
</form>
{% endblock content %}
